#app{
	height: 100%;
	overflow: hidden;

}

.sidebar{
	width:200px;
	float:left;
	overflow: hidden;
}

.chat{
	border-left:1px solid gray;
	width:100%;
	height: 100%;
	/*max-width: 600px;*/
}
#messages{ 
	height:80%; 
	overflow-y: scroll;
	border-left:1px solid #ebebeb;
}
#input-box {
width: 100%;
border-top: 1px solid gray;
position: fixed;
height: 70px;
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box;
 box-sizing: border-box; 
padding: 7px 0px 0px 0px;
box-shadow: -1px 0px 6px 0px #A8A8A8;
}
#input-box textarea{
	width:100%;
	border-radius: 2px;
	padding: 10px;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	 box-sizing: border-box; 
}

.message{
	padding: 0px 10px 8px 10px;
	font-size: 13px;
	min-width: 420px;
	border-top: 1px solid #ECECEC;
	padding-top: 7px;
}
.message:last-child{
	margin-bottom: 30px;
}
.message img{
	float: left;
	width: 32px;
	margin-right: 10px;
}
.message h5 {
margin: 0px;
}
.message-body{
	float: left;
	width:80%;
	word-wrap:break-word;
}
.message-time{
	float:right;
	color:gray;
	opacity: 0;
	position: relative;
	top:-20px;
}
.message.new {
background: #E2EEF3;
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.37);
}
.message:hover .message-time, .message:last-child .message-time{
	opacity: 1;
}

.message-body div{
	font: 14px "Source Sans Pro", "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#typing-info {
	position: absolute;
	margin-top: -30px;
	font-size: 12px;
	color: gray;
}
#menu {
position: absolute;
right: 0;
margin-right: 20px;
margin-top: 20px;
font-weight: 600;
font-size: 12px;
background: white;
border: 1px solid gray;
padding: 4px;
border-radius: 3px;
box-shadow: 0px 1px 1px 0px #BDBDBD;
}
#user-list ul {
background: rgba(255, 255, 255, 0.7);
padding: 0px 5px;
overflow: hidden;
margin: 0px 0 0 10px;
}
#user-list li {
list-style: none;
cursor: pointer;
color: #333;
float: left;
width: 30px;
height: 30px;
margin-right:2px;
margin-bottom: 2px;
}
#user-list li:hover{
	text-decoration: underline;
}
.toggle {
position: absolute;
top: -23px;
left: -1px;
background: white;
border: 1px solid gray;
border-bottom: none;
padding: 1px 4px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
display: none;
}
#user-list span {
display: inline-block;
width: 6px;
height: 6px;
background: #90DB65;
position: relative;
margin-left: -29px;
top: 10px;
}
#user-list img {
width: 30px;
}
